<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Datos.Properties.Settings.WebFormConnectionString"
            connectionString="Data Source=DESKTOP-A1EIUDM\SQLEXPRESS;Initial Catalog=WebForm;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Datos.Properties.Settings.Login2ConnectionString"
            connectionString="Data Source=DESKTOP-Q3AODOA;Initial Catalog=Login2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>